<h3> Training Session </h2>

<%# byebug %>
<h4>Trainer: <%=current_trainer.name%></h3>
<h4><%= @training_session.client_id%></h4><br>
<h4><%= @training_session.start_time%> - <%= @training_session.end_time%></h4><br>
<h4><%= @training_session.notes%></h4>

<p><%= link_to 'Edit Training Session', edit_training_session_path(@training_session)%><br>
<%= button_to "Delete", @training_session, :method => :delete %>