<h2> Sign Up Form </h2>

<%# Need to add Omniauth (?) %>

<%= simple_form_for @trainer, :url => url_for(:action => 'create') do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>   
    <%= f.input :password %>
    <%= f.input :specialty %>
    <%= f.button :submit %>
<% end %>